# Arquivos e diretórios gerados pelo compilador
/bin/
/target/

# Arquivos de configuração de IDE
/.idea/
/*.iml

# Arquivos temporários
*.log
*.tmp

# Arquivos desnecessarios
.classpath
/settings
.project
.settings